#container {
    padding: 20px;
    border: 1px solid rgb(46, 46, 46);
    border-radius: 8px;
    padding: 20px;
    margin: 80px auto;
    width: 704px;
}
#headline {
    width: 685px;
    border-top: 2px solid rgb(46, 46, 46);
    border-bottom: 2px solid rgb(46, 46, 46);
    padding: 10px;
    font-weight: bold;
    font-family: '굵은노토';
    font-size: 26px;
    text-align: center;
    color: rgb(46, 46, 46);
    margin-bottom: 15px;
}
.part{
    border-top: 2px solid rgb(46, 46, 46);
    border-bottom: 2px solid rgb(46, 46, 46);
}
#part_topic{
    border-top: 2px solid rgb(46, 46, 46);
    border-collapse: collapse;
    font-family: '굵은노토';
    text-align: center;
    padding: 5px;
}
.part_No{
    width: 30px;
    padding: 5px 0px;
    border-top: 2px solid #e8e8e8;
    border-bottom: 2px solid #e8e8e8;
}
 .part_title{
    width: 200px;
    padding: 5px 0px;
    border-top: 2px solid #e8e8e8;
    border-bottom: 2px solid #e8e8e8;
    cursor: pointer;
}  
#part_select{
    width: 150px;
    padding: 5px 0px;
    border-top: 2px solid #e8e8e8;
    border-bottom: 2px solid #e8e8e8;
}
.part_content{
    width: 300px; 
    padding: 5px 0px;
    border-top: 2px solid #e8e8e8;
    border-bottom: 2px solid #e8e8e8;
    cursor: pointer;
}
#btn_page {
    text-decoration: none;
    color: rgb(46, 46, 46);
    margin-right: 5px;
    cursor: pointer;
}
.page_bar{
    margin: 5px;
    text-align: center;
}
#btn_page:hover{
    background-color: rgb(46, 46, 46);
    color: white;
}
#qna_link{
    text-decoration: none;
    color: rgb(46, 46, 46);
}
#title {
    font-family: '보통노토';
    font-size: 13px;
    color: rgb(46, 46, 46);
}
input:focus {
    outline: none;
}
input::placeholder {
    color: rgb(216, 215, 215);
}
.input_span input {
    border-bottom: 2px solid rgb(231, 231, 231);
    padding: 5px 0;
    color: rgb(46, 46, 46);
    font-family: '보통노토';
    font-size: 20px;
    display: inline-block;
    border: none;
}
#first_input {
    border-bottom: 2px solid rgb(231, 231, 231);
    padding: 5px 0;
    color: rgb(46, 46, 46);
    font-family: '보통노토';
    font-size: 20px;
    border: none;
}
.input_span input:focus {
    border-bottom: 2px solid rgb(46, 46, 46);
}
#first_input:focus {
    border-bottom: 2px solid rgb(46, 46, 46);
}
.part_select {
    margin-bottom: 20px;
}
#qna_content_title {
    margin-bottom: 20px;
}
textarea {
    width: 700px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgb(216, 215, 215);
    color: rgb(46, 46, 46);
    font-family: '보통노토';
    resize: none;
}
#btn_enter {
    width: 695px;
    height: 50px;
    margin-top: 10px;
    margin-left: 5px;
    font-family: '굵은노토';
    font-size: 20px;
    background-color: rgb(231, 231, 231);
    border: none;
    border-radius: 10px;
    color: rgb(46, 46, 46);
    font-weight: bold;
    cursor: pointer;
}
#btn_enter:hover{
    color: rgb(231, 231, 231);
    background-color: rgb(46, 46, 46);
}
textarea::placeholder {
    color: rgb(216, 215, 215);
}