#member_list_container{
        width: 1000px;
        margin: 120px auto;
        text-align: left;
    }
    #member_list_headline{
        color: rgb(44,42,41);
        font-size: 20px;
    }
    #search_bar{
        background-color: #e8e8e8;
        margin: 30px 0px;
        padding: 15px;
        text-align: right;
    }
    #board_list_title{
        text-decoration: none;
        color: black;
    }
    .member_list_table{
    	width: 100%;
    	text-align: center;
    	margin: 0 auto;
    }
    .member_list_title{
    	margin: 0 5px 0 5px;
    }
    .member_list_table_line{
    	border-bottom: 2px solid #e8e8e8;
    	padding: 20px 0;
    }
    #search{
        height: 30px;
        border-color: #e8e8e8;
        color: black;
        border-radius: 3px;
        border: 1px solid #c8c8c8;
    }
    .page_number_design{
        width: 25px;
        border-radius: 5px;
        display: inline-block;
        background-color: #e8e8e8;
        color: rgb(2, 11, 48);
        text-decoration: none;
        text-align: center;
    }
  
    .page_number_design:hover{
        background-color: rgb(250, 187, 71);
        color: rgb(17, 5, 124);
   }
    #btn_member_list_search{
        width: 60px;
        background-color: #646262;
        font-weight: bold;
        font-size: 16px;
        border : 1px solid #585858;
        border-radius: 3px;
        margin-left: 5px;
        padding: 5px;
        color: rgb(148, 144, 144);
    }
    #btn_member_list_search:hover{
        background-color: rgb(250, 202, 71);
	    color:#282828;
    }
   
	#search_things{
		height: 32px;
	}
	.page_bar{
		text-align: center;
		margin: 20px 0 20px 150px;
		
	}
	#member_delete_btn{
		text-decoration: none;
		width: 60px;
		height: 30px;
		color: white;
		padding: 10px;
		border-radius: 5px;
		background-color: #646262;
		font-size: 12px;
	}
	#member_delete_btn:hover{
		background-color: rgb(250, 202, 71);
	    color:#282828;
	}