section{
    	margin-bottom: 100px;
    }
    #headline_comment{
         text-align: center;
        font-family: '굵은노토';
        color: rgb(46,46,46);
        margin-bottom: 40px;
        margin-top: 40px;
        font-size: 32px;
    }
     #reservation_table{
        width: 1500px;
        margin: 0 auto;
        margin-top: 40px;
    }
    #reservation_table table{
        border-collapse: collapse;
    }
    .head_name{
        width: 150px;
        height: 30px;
        font-size: 14px;
        padding-top: 10px;
        text-align: center;
        color: rgb(46,46,46);
        border-top: 2px solid rgb(215, 215,215);
        border-bottom: 2px solid rgb(215, 215,215);
        font-family: '굵은노토';
    }
    .inside_content{
        width: 150px;
        height: 60px;
        padding-top: 30px;
        font-size: 14px;
        text-align: center;
        color: rgb(46,46,46);
        border-bottom: 1px solid rgb(215, 215,215);
        font-family: '굵은노토';
    }
    #status_click_button{
        text-decoration: none;
        color: rgb(46,46,46);
        background-color: rgb(233, 233, 233);
        border: 1px solid rgb(46,46,46);
        border-radius: 5px;
        padding:4px ;
    }
    #status_click_button:hover{
        color: rgb(233, 233, 233);
        background-color: rgb(46,46,46);
        border:none;
    }
    #reservation_headline_img{
    	width: 100%;
    }
    #facltNm_href{
    	text-decoration: none;
        color: orange;
        border-radius: 5px;
        padding:4px ;
    }
    #facltNm_href:hover {
		text-decoration:underline;
		font-size: 15px;
		color : black;
	}